[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
django = "*"
gunicorn = "*"
heroku = "*"
django-crispy-forms = "*"
whitenoise = "*"

[requires]
python_version = "3.8"
