<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Confirm</title>
</head>

<body>
{% block content %}

{% if validlink %}
    <h1>Update Password</h1>
    <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input class="btn btn-success ml-2" type="submit" value="Update Password">
    </form>
{% else %}
    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
    <p>NOTE: This is not an actual email service.</p>
{% endif %}

{% endblock content %}
</body>
</html>
