<!-- templates/findfriend.html -->
{% extends 'base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Friend</title>
</head>

<body>
{% block content %}

{% if user.is_authenticated %}
    <h5 style="font-weight: bold">Find Common Movies With A Friend</h5>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="friend" placeholder="Search Username">
        <button class="btn btn-success ml-2" type="submit" name="find-btn" value="click">Find Friend</button>
    </form>
{% else %}
    <h1 style="margin-bottom:2%">Please log in or sign up for an account.</h1>
    <p><a href="{% url 'login' %}">Log In</a></p>
    <p><a href="{% url 'signup' %}">Sign Up</a></p>
{% endif %}

{% if friend %}
    {% if commonMovies|length > 0 %}
        {% for movie in commonMovies %}
            <div class="movie-container" style="display:flex">
                <div class="movie-info" style="flex: 1; padding:1rem">
                    {% if movie.name %}
                        <h3 style="font-weight: bold">{{ movie.name }} ({{ movie.year }})</h3>
                        <br>
                    {% endif %}
                    {% if movie.imdb|length > 5 %}
                        <h5 style="padding-left: 100px">{{ movie.imdb }}</h5>
                    {% else %}
                        <h5 style="padding-left: 100px">IMDB: Not Found</h5>
                    {% endif %}
                    {% if movie.rg|length > 3 %}
                        <h5 style="padding-left: 100px">{{ movie.rg }}</h5>
                    {% else %}
                        <h5 style="padding-left: 100px">RG: Not Found</h5>
                    {% endif %}
                    {% if movie.length|length > 1 %}
                        <h5 style="padding-left: 100px">Length: {{ movie.length }}</h5>
                    {% else %}
                        <h5 style="padding-left: 100px">Length: Not Found</h5>
                    {% endif %}
                    {% if movie.genre|length > 3 %}
                        <h5 style="padding-left: 100px">Genre: {{ movie.genre }}</h5>
                        <br>
                    {% else %}
                        <h5 style="padding-left: 100px">Genre: Not Found</h5>
                        <br>
                    {% endif %}
                    {% if movie.desc|length > 10 %}
                        <h5 style="text-decoration: underline">Description</h5>
                        <p style="font-size:20px">{{ movie.desc }}</p>
                    {% else %}
                        <h5 style="text-decoration: underline">Description</h5>
                        <p style="font-size:20px">Not Found</p>
                    {% endif %}
                </div>
                {% if movie.image|length > 10 %}
                    <div class="movie-poster" style="flex: 1; padding:1rem">
                        <img src="{{ movie.image }}" style="border: 2px solid black; height:400px"/>
                    </div>
                {% else %}
                    <div class="movie-poster" style="flex: 1; padding:1rem">
                        <h3 style="border: 2px solid black; height:400px; width: 350px; padding: 120px">No Poster Found</h3>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <h2 style="margin-top: 2%">Sorry, you don't have any common movies yet.</h2>
    {% endif %}
{% elif notFound %}
    <h2 style="margin-top: 2%">That user does not exist.</h2>
{% endif %}

{% endblock content %}
</body>
</html>
